<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
  <div style="text-align:center;">
    <h1>
    to check issue just type issue name end of the link like https://ca-dev.glitch.me/{name of issue}
  </h1>
    
  <a href="https://ca-dev.glitch.me/issue">Visit example of first issue...</a>
    
    
  </div>
  <div style="text-align:center; margin-top:10px;">
    <a href="https://ca-dev.glitch.me/bug" >Visit example of second issue...</a>
  </div>
  
  
    
</body>
</html>